INHERIT: mkdocs.maybe-insiders.yml
site_name: Personal Docs
site_description: Personal documentation - Micro-monolith, Database, and more
site_url: https://github.com/ricardotran92

theme:
  name: material
  custom_dir: overrides
  palette:
  - media: (prefers-color-scheme)
    toggle:
      icon: material/lightbulb-auto
      name: Switch to light mode
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: teal
    accent: amber
    toggle:
      icon: material/lightbulb-outline
      name: Switch to system preference
  features:
  - content.code.annotate
  - content.code.copy
  - content.footnote.tooltips
  - content.tabs.link
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  - navigation.instant.progress
  - navigation.path
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  - layout.wide
  icon:
    repo: fontawesome/brands/github-alt
  logo: img/icon-white.svg
  favicon: img/favicon.png
  language: en

repo_name: ricardotran92/docs
repo_url: https://github.com/ricardotran92/docs

plugins:
  search: null
  macros:
    include_yaml:
    - en/data/external_links.yml
    - en/data/github_sponsors.yml
    - en/data/people.yml
    - en/data/contributors.yml
    - en/data/translators.yml
    - en/data/translation_reviewers.yml
    - en/data/skip_users.yml
    - en/data/members.yml
    - en/data/sponsors_badge.yml
    - en/data/sponsors.yml
    - en/data/topic_repos.yml
  mkdocstrings:
    handlers:
      python:
        options:
          extensions:
          - griffe_typingdoc
          - pymdownx.arithmatex
          show_root_heading: true
          show_if_no_docstring: true
          preload_modules:
          - httpx
          - starlette
          inherited_members: true
          members_order: source
          separate_signature: true
          unwrap_annotated: true
          filters:
          - '!^_'
          merge_init_into_class: true
          docstring_section_style: spacy
          signature_crossrefs: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          generic: true

# Combined navigation from both sites
nav:
- Home: index.md
- IELTS:
  - Writing:
    - Task 1 Samples: ielts/writing-task1-samples.md
    - Task 2 Templates: ielts/writing-task2-templates.md
    - Task 2 Samples: ielts/writing-task2-samples.md
    - Synonyms List: ielts/writing-synonyms-list.md
    - Linking & Replacement: ielts/writing-linking-replacement.md  
  - Grammer:
    - V + adj: ielts/grammar-v-adj.md
  - Listening:
    - Number and Letter: ielts/listening-number-letter.md
- Dictionaries:
  - WordNet: dictionaries/wordnet.md
  

markdown_extensions:
  abbr: null
  attr_list: null
  footnotes: null
  md_in_html: null
  tables: null
  toc:
    permalink: true
  pymdownx.betterem: null
  pymdownx.caret: null
  pymdownx.highlight:
    line_spans: __span
  pymdownx.inlinehilite: null
  pymdownx.keys: null
  pymdownx.mark: null
  pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_code_format ''
  pymdownx.tilde: null
  pymdownx.blocks.admonition:
    types:
    - note
    - attention
    - caution
    - danger
    - error
    - tip
    - hint
    - warning
    - info
    - check
  pymdownx.blocks.details: null
  pymdownx.blocks.tab:
    alternate_style: true
  mdx_include: null
  markdown_include_variants: null

  pymdownx.arithmatex:
    generic: true

extra:
  social:
  - icon: fontawesome/brands/github-alt
    link: https://github.com/ricardotran92/docs
  - icon: fontawesome/brands/discord
    link: https://discord.gg/...
  - icon: fontawesome/brands/twitter
    link: https://x.com/...
  - icon: fontawesome/brands/linkedin
    link: https://www.linkedin.com/company/...
  - icon: fontawesome/solid/globe
    link: https://....com

extra_css:
- css/termynal.css
- css/custom.css

extra_javascript:
- js/termynal.js
- js/custom.js
- https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

hooks:
- scripts/mkdocs_hooks.py
